<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" >
    <title>TRAVEL RECOMMENDATION SYSTEM</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>  
    <h1 id="title">TRAVEL RECOMMENDATION SYSTEM:--> GO ANYWHERE WITH US</h1>

    <!-- Form to search for start location -->
    <form method="POST" class="search-form">
      <input type="text" class = "search-box" id="text" name="start_loc" placeholder=" Start location"><br><br>
      <input type="text" class = "search-box" id="text" name="loc_description" placeholder=" Description"><br><br>
      <input type="submit" class = "search-button" id='myButton' value="Get recommendations" style="font-family: 'Courier New', Courier, monospace;" onclick="showLoading()";>
    </form>

    <script>
      function showLoading() {
        var button= document.getElementById('myButton').style.backgroundColor = '#999';
        showLoadingMessage("Loading...")
        const myTimeout = setTimeout(showLoadingMessage.bind(null, "Getting destinations..."), 4000)
        const myTimeout2 = setTimeout(showLoadingMessage.bind(null, "Almost there..."), 8000)
      }
      function showLoadingMessage(message) {
        var button= document.getElementById('myButton');
        button.value = message
      }
    </script>

    
    
    {% if prompt_html %}
      <!-- Initial descriptive line -->
      <div id="recommendation_list">
        {% if user_input_start_location and user_input_description %}
        <p style="font-size:16px">Ok, I've made a list of destinations to visit from {{user_input_start_location}} that can be described as "{{ user_input_description }}":</p>
        {% elif user_input_start_location %}
        <p style="font-size:16px">Ok, I've made a list of destinations to visit from {{user_input_start_location}}:</p>
        {% elif user_input_description %}
        <p style="font-size:16px">Ok, I've made a list of destinations to visit that match can be described as "{{ user_input_description }}":</p>
        {% else %}
        <p style="font-size:16px">No idea huh? I've made a list of destinations to visit for you:</p>
        {% endif %}
        <!-- Display destinations as bullet points -->
        <ol>
          {% for destination in prompt_html %}
          <li><span class="bold">
            <a href="https://www.google.com/search?q={{ destination.split('-')[0] }}" target="_blank">{{ destination.split("-")[0][:-1] }}</a></span> - {{ destination.split("-")[1:] | join("-") }}
          </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
   
  </body>
</html>
